[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
seren = {editable = true, path = "."}
pytest-cov = "*"
pre-commit = "*"

[dev-packages]
commitizen = "*"

[requires]
python_version = "3.10"
